.book-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    flex-direction: column;
    border: 0.3rem groove;
    margin: 0.8rem;
}

button {
    max-width: fit-content;
}